In [22]:
import numpy as np
import yfinance as yf
import datetime

In [23]:
start = datetime.date(2021, 1, 1)
end = datetime.date(2021, 12, 31)

df = yf.download("SPY", start, end)["Adj Close"]

N = len(df)

df_returns = df.diff() / df
(1 + df_returns).prod() ** (1/N) - 1

[*********************100%%**********************]  1 of 1 completed

0.0010040576093313103

In [24]:
N = len(df)

df_returns = df.diff() / df
(1 + df_returns).prod() ** (1/N) - 1

0.0010040576093313103

In [25]:
start = datetime.date(2007, 1, 1)
end = datetime.date(2010, 12, 31)

df = yf.download("JPM", start, end)["Adj Close"]
N = len(df)

df_returns = df.diff() / df
df_returns.std() * np.sqrt(252)

[*********************100%%**********************]  1 of 1 completed

0.6125018538299144

In [30]:
start = datetime.date(2021, 1, 1)
end = datetime.date(2021, 12, 31)

df = yf.download(["CSCO", "GE", "MMM"], start, end)["Adj Close"]
df
N = len(df)

df_returns = df.diff() / df
df_returns.corr()
# df_returns.std() * np.sqrt(252)

[*********************100%%**********************]  3 of 3 completed

Ticker      CSCO        GE       MMM
Ticker
CSCO    1.000000  0.303056  0.453027
GE      0.303056  1.000000  0.411273
MMM     0.453027  0.411273  1.000000

In [34]:
start = datetime.date(2021, 1, 1)
end = datetime.date(2021, 12, 31)

df = yf.download("AMZN", start, end)["Adj Close"]
N = len(df)

df_returns = df.diff() / df
(1 + df_returns).cumprod()

[*********************100%%**********************]  1 of 1 completed

Date
2021-01-04         NaN
2021-01-05    1.009905
2021-01-06    0.984120
2021-01-07    0.991521
2021-01-08    0.997920
                ...
2021-12-23    1.013427
2021-12-27    1.005071
2021-12-28    1.010910
2021-12-29    1.002187
2021-12-30    0.998880
Name: Adj Close, Length: 251, dtype: float64

In [35]:
start = datetime.date(2015, 1, 1)
end = datetime.date(2020, 12, 31)

df = yf.download("BA", start, end)["Adj Close"]
N = len(df)

df_returns = df.diff() / df
df_returns.std() * np.sqrt(252)

[*********************100%%**********************]  1 of 1 completed

0.43230125132553004

In [37]:
start = datetime.date(2021, 1, 1)
end = datetime.date(2021, 7, 31)

df = yf.download(["AAPL", "AMZN", "TSLA"], start, end)["Adj Close"]
df
N = len(df)

df_returns = df.diff() / df
df_returns.corr()
# df_returns.std() * np.sqrt(252)

[*********************100%%**********************]  3 of 3 completed

Ticker      AAPL      AMZN      TSLA
Ticker
AAPL    1.000000  0.586739  0.539811
AMZN    0.586739  1.000000  0.421339
TSLA    0.539811  0.421339  1.000000

In [38]:
start = datetime.date(2021, 1, 1)
end = datetime.date(2021, 12, 31)

df = yf.download("XOM", start, end)["Adj Close"]
N = len(df)

df_returns = np.log(df / df.shift(1))
df_returns.max()

[*********************100%%**********************]  1 of 1 completed

0.04706772729731268

In [46]:
start = datetime.date(2001, 1, 1)
end = datetime.date(2008, 7, 31)

df = yf.download(["F", "LMT"], start, end)["Adj Close"]
df
N = len(df)

df_returns = df.diff() / df
df_returns.corr()

[*********************100%%**********************]  2 of 2 completed

Ticker         F       LMT
Ticker
F       1.000000  0.140124
LMT     0.140124  1.000000

In [47]:
C = np.array([
    [0.063, -0.025],
    [-0.025, 0.032]
])

np.linalg.cholesky(C)

array([[ 0.25099801,  0.        ],
       [-0.09960238,  0.14859127]])

In [48]:
A_ret = 0.22
n_year = 30
Initial_invest = 11000

Total_ret = (1 + A_ret) ** n_year
Final_invest = Initial_invest * Total_ret
print("Your investment will be worth " + str(Final_invest / 10**6) + " millions!")

Your investment will be worth 4.287336836628989 millions!

In [51]:
start = datetime.date(2005, 1, 1)
end = datetime.date(2010, 7, 31)

df = yf.download(["BA", "JPM"], start, end)["Adj Close"]
df
N = len(df)

df_returns = df.diff() / df
df_returns.cov()*100

[*********************100%%**********************]  2 of 2 completed

Ticker        BA       JPM
Ticker
BA      0.041953  0.031079
JPM     0.031079  0.107770

In [52]:
start = datetime.date(2020, 1, 1)
end = datetime.date(2020, 7, 31)

df = yf.download(["BA", "C", "JPM"], start, end)["Adj Close"]
N = len(df)

df_returns = df.diff() / df
C = df_returns.corr()
C

[*********************100%%**********************]  3 of 3 completed

Ticker        BA         C       JPM
Ticker
BA      1.000000  0.787234  0.742004
C       0.787234  1.000000  0.935203
JPM     0.742004  0.935203  1.000000